<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Langflow Embedded Chat</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/gh/logspace-ai/langflow-embedded-chat@v1.0.4/dist/build/static/js/bundle.min.js"></script>

    <langflow-chat
        window_title="SEO Agent"
        flow_id="e24e6f86-107b-4fee-a1b8-6623a0a71584"
        host_url="https://lf-gui.japanvo.bid"
        width="1200"
    ></langflow-chat>
</body>
</html>
